.colt {
  height: 25em;
  display: block;
  float: right;
  width: auto;
  bottom: 0;
  margin-right: -50px;
  /*-webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
  /*transform: rotate(25deg);*/
}

.cov {
  display: block;
  float: left;
  width: auto;
  filter: drop-shadow(15px 15px 15px rgba(85, 85, 85, 0.5));
  margin-right: 3em;
  bottom: 0;
}

.bk-cv {
  img {
    padding-bottom: 3em;
  }
  width: 30%;
  // padding-bottom: 3em;
}

.cntainer {
  padding-top: 1em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  padding-bottom: 1em;
  padding-left: 1em;
}

.cnt1 {
  border-top: #b22234 0.4em solid;
}

.cnt2 {
  border-top: #3c3b6e 0.4em solid;
}

/*article p {*/
/*font-size: 1.4em;*/
/*  font-size: 1.2em;
    letter-spacing: .02em;
    line-height: 1.7em;
    text-align: justify;
  }
  
  .dropcap {
    
  }
  
  article p::first-letter {
  float: left; padding: 0; font-size: 3.2em; line-height: 0; margin-top: .55em; height: .5em; margin-right: .13em;
  }
  
  #fake-bck {
    position: fixed;
    width: 100%;
    height: 100%;
  top: 0;
    left: 0;
    z-index: -1;
    filter: blur(2px) sepia(0.8) saturate(2) opacity(.4);
    background-image: url("img/bck1.jpg");
    background-size: 100%;
    
  }
  
  article > blockquote {
    width: 60%;
    text-align: center;
    margin: auto;
  }
  
  article blockquote {
    /*transition-property: font-size;
    transition-duration: 2s;
    transition-timing-function: linear;*/
/*}
  
  article blockquote:hover {
    /*font-size: 1.3em;
    font-style: bold;*/
/*}*/

article > .cntainer > .slide-left > blockquote {
  width: 50%;
  text-align: center;
}

article > .cntainer > .slide-left > blockquote > cite {
  text-align: left;
}

.slide-left > p {
  display: table-cell;
  vertical-align: middle;
}

/*article > h2, article > h3, article > h4 {
    font-family: 'Luckiest Guy';
    text-align: center;
  }
  
  article > h2 {
  color: #B22234;
  font-size: 4em;
  }
  
  article > h3 {
    font-size: 2.1em;
    color: #3C3B6E;
    margin: 0;
  }
  
  article > h4 {
    color: #3C3B6E;
    font-size: 1.4em;
  }*/

.half-pricer {
  width: 60%;
  float: right;
}
.blog-title::before {
  background-color: #b22234;
  color: white;
  margin-right: 0.4em;
  border-radius: 15px;
  padding: 10px;
  display: inline-block;
  content: 'Blog';
  /*text-transform: uppercase;*/
}

.blog-title {
  font-family: 'Merriweather', serif;
  text-align: left;
}

/*li:before {
    
  }
  
  li:nth-child(odd)::before {
  content: "\2605 ";
    color: white;
  }
  
  li:nth-child(even)::before {
  content: "\2605 ";
    color: green;
  }*/

article .cntainer ul {
  text-align: center;
  /*font-size: 1.4em;*/
  list-style-type: none;
  padding: 0;
  margin: 0;
}
article .cntainer ul > li > a {
  transition-property: color;
  transition-duration: 500ms;
  transition-timing-function: linear;
  margin-bottom: 0.2em;
}

article ul > li > a:hover {
  color: #b22234;
}

.star {
  background-color: #3c3b6e;
  color: white;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-bottom: 0.25em;
  padding-top: 0.2em;
  font-size: 3em;
  border-radius: 50%;
  border: white solid 0.07em;
  margin-top: -0.58em;
  float: left;
  position: absolute;
  box-shadow: 0 0 0 0.07em #b22234, 0 0.14em 0.14em black;
}
.star-cont {
  text-align: center;
  height: 1em;
  overflow: visible;
  vertical-align: middle;
  border-top: #3c3b6e 0.4em solid;
  border-bottom: #b22234 0.4em solid;
  background-color: white;
  width: 100%;
  margin-top: 3em;
  margin-bottom: 3em;
  box-shadow: 0 0.14em 0.14em black;
}

/*ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }*/

.ribbon {
  font-size: 0.9em !important;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

  width: 50%;

  position: relative;
  background: #3c3b6e;
  color: #fff;
  text-align: center;
  padding: 1em 2em; /* Adjust to suit */
  margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before,
.ribbon:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #232255;
  z-index: -1;
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}
.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
  content: '';
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #09083b transparent transparent transparent;
  bottom: -1em;
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
